.testimonials .container{
    background-image: url('../../../images/qoute.png');
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: top right;
}
.testimonials .card{
    border-color: transparent;
}
.testimonials .card .card-footer{
    border: 0;
    background: transparent;
}
